<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VR Beats</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  <div id="main"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.0/howler.js"></script>
  <script src="js/third-party/threejs/three.js"></script>
  <script src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script src="js/third-party/threejs/OrbitControls.js"></script>
  <script src="js/third-party/threejs/StereoEffect.js"></script>
  <script src="js/third-party/dat.gui.js"></script>
  <script src="js/elements.js"></script>
  <script src="js/setup.js"></script>
  <script src="js/triggers.js"></script>
  <script src="js/script.js"></script>
  <!-- Development Tool to test canvas elements positions -->
  <!-- <script src="js/gui-config.js"></script> -->

  </body>
</html>
