<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VR Beats</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  <div id="main"></div>
  <script type="text/javascript" src="js/third-party/threejs/three.js"></script>
  <script type="text/javascript" src="js/third-party/threejs/DeviceOrientationControls.js"></script>
  <script type="text/javascript" src="js/third-party/threejs/OrbitControls.js"></script>
  <script type="text/javascript" src="js/third-party/threejs/StereoEffect.js"></script>
  <script type="text/javascript" src="js/setup.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>